<?xml version='1.1' encoding='UTF-8'?>
<maven2 plugin="maven-plugin@3.1">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <reporters/>
  <displayName>APP_TSDemoGetData.module.application</displayName>
  <version>1.0.3-SNAPSHOT</version>
  <packaging>bwear</packaging>
  <relativePath>BW/BusinessServices/APP_BSDemoGetData.module.application</relativePath>
  <dependencies>
    <dependency>
      <groupId>com.tibco.plugins</groupId>
      <artifactId>bw6-maven-plugin</artifactId>
      <version>1.3.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>com.tibco.bw</groupId>
      <artifactId>APP_BSDemoGetData.module.application.parent</artifactId>
      <version>1.0.3-SNAPSHOT</version>
      <plugin>false</plugin>
    </dependency>
  </dependencies>
  <children/>
</maven2>